<mat-toolbar class="navbar">
    <div>Angular App</div>
    <div>
        <a class = "tabs" routerLink="/bookSearch" routerLinkActive="active">Book Search</a>
        <a class = "tabs" routerLink="/collection" routerLinkActive="active">Collection</a>
        <a class = "tabs" routerLink="/ratings" routerLinkActive="active">Ratings</a>
        <a class = "tabs" routerLink="/readingList" routerLinkActive="active">Reading List</a>
        <a class = "tabs" routerLink="/login" routerLinkActive="active">Login</a>
        <a class = "tabs" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
    </div>
</mat-toolbar>
